# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_ERGODUCKS_GRAVITON

config BOARD
    default "ergoducks_grvton"

if USB || USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB

config BT_CTLR
    default BT

endif # BOARD_ERGODUCKS_GRAVITON
