# Ergoducks board configuration

# Copyright (c) 2025 Simen August Tinderholt
# SPDX-License-Identifier: MIT

config BOARD_ERGODUCKS_GRAVITON
    bool "ergoducks graviton controller"
    depends on SOC_NRF52840_QIAA
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE