# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ERGODUCKS_LEFT
    def_bool $(shields_list_contains,ergoducks_left)

config SHIELD_ERGODUCKS_RIGHT
    def_bool $(shields_list_contains,ergoducks_right)
