# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ERGODUCKS_LEFT

config ZMK_KEYBOARD_NAME
    default "Ergoducks"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ERGODUCKS_LEFT || SHIELD_ERGODUCKS_RIGHT

config ZMK_SPLIT
    default y

endif
